* {
  scroll-behavior: smooth;

}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  float: left;
  border-right: 2px solid #3a3a3a;
}

li:last-child {
  border-right: none;
}

.navbar {
  background-color: #232323;
  color: #282c34;
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
}

nav a:hover {
  background-color: #3a3a3a;
  border-radius: 20px;
}


body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ime {
  text-shadow: 7px 7px 9px #141515;
  margin: 15%;
  color: #2aa700;
  margin-bottom: 10%;
}

.prvi_opis {
  margin-top: 0%;
  padding: 1%;
  width: 70%;
  background-color: #31353c;
  color: lightgray;
  line-height: 1.4;
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  border-color: #202020;
}

.project_name {
  margin-top: 10%;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project1, .project2 {
  margin-top: 0%;
  margin: 10px;
  padding: 1%;
  width: 30%;
  height: 500px;
  background-color: #31353c;
  color: lightgray;
  line-height: 1.4;
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  border-color: #202020;
}

.project1:hover, .project2:hover {
  background-color: rgb(24, 27, 43);
  transition: 0.3s;
  box-shadow: 10px 10px 20px #000000b4;
  opacity: 0.9;
  filter: grayscale(0.5);
  scale: 1.05;
}

.two_headers {
  display: flex;
}

.friends_box,
.github {
  flex: 1;
  margin: 10px;
}

.friends_box {
  margin: 10%;
}

.friends a {
  text-decoration: none;
  color: lightgray;
}

.friends {
  margin-right: 10%;
  font-size: 120%;
  align-items: center;
  padding: 15%;
  width: 70%;
  height: 200px;
  background-color: #31353c;
  line-height: 2.5;
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  border-color: #202020;
}

.friends:hover, .github_link:hover {
  background-color: rgb(24, 27, 43);
  transition: 0.3s;
  box-shadow: 10px 10px 20px #000000b4;
  opacity: 0.9;
  filter: grayscale(0.5);
  scale: 1.08;
}
